In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/emoji_uncleaned.csv")
df.head(5)

                                               Tweet  Label
0  A little throwback with my favourite person @ ...      0
1  glam on @user yesterday for #kcon makeup using...      7
2  Democracy Plaza in the wake of a stunning outc...     11
3   Then &amp; Now. VILO @ Walt Disney Magic Kingdom      0
4               Who never... @ A Galaxy Far Far Away      2

In [3]:
import preprocessor as p


def preprocess_tweet(row):
    text = row['Tweet']
    text = p.clean(text)
    return text

In [4]:
df['Tweet'] = df.apply(preprocess_tweet, axis=1)
df.head()

                                               Tweet  Label
0  A little throwback with my favourite person Wa...      0
1            glam on yesterday for makeup using in ,      7
2  Democracy Plaza in the wake of a stunning outc...     11
3     Then &amp; Now. VILO Walt Disney Magic Kingdom      0
4                 Who never... A Galaxy Far Far Away      2

In [5]:
 df.drop_duplicates(inplace=True)
print('after drop duplicates', df.shape)

after drop duplicates (49750, 2)

In [6]:
df['Tweet'] = df['Tweet'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')
df.head(10)
df.shape

/var/folders/p6/9vz93_jn0w35pcs_knjyd76r0000gn/T/ipykernel_2892/3291048459.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Tweet'] = df['Tweet'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')

(49750, 2)

In [7]:
df = pd.read_csv("data/stp_lm.csv")
df.dropna(inplace=True)
y = df["Label"].values